
header {
  background-color: lightgray;
}

footer {
  background-color: lightgray;
}


.nav-item-section {
  border-top: 1px solid lightgray;
}

@media (min-width: 992px) {
  .nav-item-section {
    border: 0 none;
  }
}
