html, body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 > span {
  color: #FF7F30;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  color: #FF7F30;
  margin-top: 2rem;
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

.navbar-burger-container {
  margin-bottom: -65px;
}

#globalNavbarNav {
  margin-top: -35px;
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .navbar-burger-container {
    margin-bottom: 0;
  }
  #globalNavbarNav {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  #globalNavbarNav {
    margin-top: 0;
  }
}

.navbar-burger-container .navbar {
  z-index:99;
}
.navbar-toggler {
  z-index:99;
}

.navbar-light .navbar-toggler {
  border:0px none;
}

header {
  background-color: #8666AC;
  color: #fff;
}

.cov19-header h1 {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cov19-header img {
  max-width: 175px;
}

@media (min-width: 992px) {
  .cov19-header h1 {
    font-size: 3rem;
    margin-top: 0.5rem
  }
  .cov19-header img {
    margin-left: -15px;
  }
}

.cov19-subheader {
  background-color: #715591;
  color: #fff;
}
.cov19-subheader h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0.5rem
}

footer {
  background-color: #efefef;
  color: #5a5a5a;
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: right;
}

#cov19Nav {
  background-color: #D1C7E3;
  margin-bottom: 2rem;
}

#cov19Nav .navbar-nav .nav-item {
  text-align: center;
  border-right: 2px solid #8666AC;
  padding: 0 0.5rem;
}

#cov19Nav .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

#cov19Nav .navbar-nav .nav-item:last-child {
  margin-right: 0;
  border-right: 0 none;
}

#cov19Nav .navbar-nav .nav-item.w-15 {
  width: 15%;
}

.nav-item-section {
  border-top: 1px solid lightgray;
}

h5.card-title {
  margin-bottom: 0rem;
}

.card-title+.card-text {
  margin-top: 0.5rem;
}

.card .card-body {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.card .card-body p {
  margin-bottom: 0.5rem;
}
.card .card-body p:last-child {
  margin-bottom: 0.25rem;
}
.card .list-group .list-group-item {
  border: 0px none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.card .list-group .list-group-item:last-child {
  padding-bottom: 0.5rem;
}
.card .card-video {
  position: relative;
}

@media (min-width: 992px) {
  .nav-item-section {
    border: 0 none;
  }
}

.navbar-nav .nav-item .nav-link {
  color: #8666AC;
  display: inline-block;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #f78d2a;
}
.navbar-nav .nav-item.active {
  background-color: #fff;
  font-weight: 700;
}

a {
  color: #8666AC;
}
a:hover {
  color: #715591;
}

.btn-primary {
  background-color: #8666AC;
  border-color: #8666AC;
}
.btn-primary:hover {
  background-color: #715591;
  border-color: #715591
}

.btn-secondary {
  background-color: #FF7F30;
  border-color: #FF7F30;
}
.btn-secondary:hover {
  background-color: #DE7334;
  border-color: #DE7334
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.modal-video-launch .vid-modal-play-icon {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  border-radius: 50%;
  background-color: rgba(0,0,0,.45);
  width: 60px;
  height: 60px;
}
.modal-video-launch .vid-modal-play-icon::after {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 6px);
  border: 0 solid transparent;
  border-left: 20px solid #fff;
  border-top-width: 12px;
  border-bottom-width: 12px;
  width: 0;
  height: 0;
  content: "";
}
body:not(.is-touch) .modal-video-launch:hover .vid-modal-play-icon {
  background-color: #DE7334;
}
.modal-video .cs-figure {
  margin: 0 auto 15px;
}
.modal-video .cs-figure {
  display: block;
}

.fig-video {
    position: relative;
    border-radius: 7px;
    padding: 0 0 56.25%;
    width: 100%;
    max-width: 100%;
    height: 0;
    overflow: hidden;
}

.modal-video .cs-figure .fig-video {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .modal-video .cs-figure .fig-video {
      margin-bottom: 40px;
  }
}

.fig-video .video-js, .fig-video embed, .fig-video iframe, .fig-video object, .fig-video video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-js.vjs-quality-menu {
  display: block;
}

.video-js[tabindex="-1"] {
  outline: 0;
}